body {
margin: 0;
padding: 0;
background-image: url ('https://br.pinterest.com/pin/577797827231568856/');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: Arial, sans-serif;

}
}